<mat-toolbar color="primary" routerLinkActive="active" class="app-toolbar">
  <button mat-icon-button (click)="toggleMenu()">
    <fa-icon [icon]="faBars"></fa-icon>
  </button>
  <div class="toolbar-content">
    <span class="spacer"></span>
    <a href="https://www.google.com/search?sca_esv=f04f39c9057254ed&rlz=1C1JJTC_enBE1125BE1125&sxsrf=ADLYWILQOXa5W0YoeSwUSNJ9hngXUoDR2w:1732788743983&uds=ADvngMjcH0KdF7qGWtwTBrP0nt7dYKWZLKwU1lKup9faKIbQjoowEnoeZV0t0s8U7RaYEab8Y7NZK7MmFhdvG9GJgMBkAO9UCbQUdp-t0SLd9Z_byQ7d2_YD15AtAY-airs7krELt0ZK_hBBr8gQ96lNbXsmBAqjVg&si=ACC90nzcy7sviKw0NTZoUBUzhQehr3jouizIrVSf6avWI23m1cdb3ublOaiJTtvmY-ls1P-gSxqYf0cNgAOI7CVXOUI-eX9g3WHgCDHJDdsj1sygsAIe9Yc%3D&q=La+Fontaine+Avis&sa=X&ved=2ahUKEwi-_LiM5f6JAxUxU6QEHaZfLaQQ3PALegQITBAF&biw=1368&bih=733&dpr=2"
      target="_blank" class="social-link">
      <i class="fa fa-google text-white"></i>
    </a><a
      href="https://fr.tripadvisor.be/Restaurant_Review-g188647-d8045222-Reviews-Restaurant_La_Fontaine-Mons_Hainaut_Province_Wallonia.html"
      target="_blank" class="social-link">
      <i class="fa fa-tripadvisor text-white"></i>
    </a>
    <a href="https://www.facebook.com/www.lafontaine.mons.be" target="_blank" class="social-link">
      <i class="bi bi-facebook text-white"></i>
    </a>
  </div>
</mat-toolbar>

<mat-sidenav-container class="app-container">

  <mat-sidenav [ngClass]="!isCollapsed ? 'expanded' : ''" [mode]="isMobile ? 'over' : 'side'"
    [opened]="isMobile ? 'false' : 'true'" class="sidebar">

    <mat-nav-list class="nav-list">

      <a mat-list-item href="/home" routerLinkActive="active" class="nav-item">
        <span class="nav-item-content">
          <fa-icon [icon]="faHome"></fa-icon>
          <span *ngIf="!isCollapsed" class="nav-item-text">Accueil</span>
        </span>
      </a>

      <a mat-list-item href="/softs" routerLinkActive="active" class="nav-item">
        <span class="nav-item-content">
          <fa-icon [icon]="faGlassWater"></fa-icon>
          <span *ngIf="!isCollapsed" class="nav-item-text">Softs</span>
        </span>
      </a>

      <a mat-list-item href="/desserts" routerLinkActive="active" class="nav-item">
        <span class="nav-item-content">
          <fa-icon [icon]="faIceCream"></fa-icon>
          <span *ngIf="!isCollapsed" class="nav-item-text">Desserts</span>
        </span>
      </a>

      <a mat-list-item href="/hotdrinks" routerLinkActive="active" class="nav-item">
        <span class="nav-item-content">
          <fa-icon [icon]="faMugHot"></fa-icon>
          <span *ngIf="!isCollapsed" class="nav-item-text">Cafés & Hot drinks</span>
        </span>
      </a>

      <a mat-list-item href="/wines" routerLinkActive="active" class="nav-item">
        <span class="nav-item-content">
          <fa-icon [icon]="faWineBottle"></fa-icon>
          <span *ngIf="!isCollapsed" class="nav-item-text">Les vins</span>
        </span>
      </a>

      <a mat-list-item href="/beers" routerLinkActive="active" class="nav-item">
        <span class="nav-item-content">
          <fa-icon [icon]="fafaBeerMugEmpty"></fa-icon>
          <span *ngIf="!isCollapsed" class="nav-item-text">Les bières</span>
        </span>
      </a>

      <a mat-list-item href="/alcools" routerLinkActive="active" class="nav-item">
        <span class="nav-item-content">
          <fa-icon [icon]="faWhiskeyGlass"></fa-icon>
          <span *ngIf="!isCollapsed" class="nav-item-text">Alcools</span>
        </span>
      </a>

      <a mat-list-item href="/cocktails" routerLinkActive="active" class="nav-item">
        <span class="nav-item-content">
          <fa-icon [icon]="faCocktail"></fa-icon>
          <span *ngIf="!isCollapsed" class="nav-item-text">Apéritifs</span>
        </span>
      </a>

    </mat-nav-list>

    <app-footer></app-footer>

  </mat-sidenav>

  <mat-sidenav-content>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
  
</mat-sidenav-container>