@use "@material/card";
@include card.core-styles;

// home design
mat-sidenav-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    padding-bottom: 7rem;
    background-color: white;
}

.logo {
    width: 150px;
    padding-top: 1rem;
}

.title-home {
    font-size: 1.8rem;
    font-weight: bold;
}

.home-content,
.extra {
    font-size: medium;
    margin-left: 1%;
    margin-right: 1%;

    h2 {
        font-size: x-large;
        padding-bottom: 1rem;
        padding-top: 3rem;
        color: rgb(63, 81, 181);
    }
}

// navbar design
mat-toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.spacer {
    flex-grow: 0.9;
}

.logos {
    a {
        margin-left: 20px;
        display: inline-block;
    }

    i {
        font-size: 1.5rem;
        transition: transform 0.2s ease;
    }

    a:hover i {
        transform: scale(1.1);
    }
}