@use "@material/card";
@include card.core-styles;


// static content
mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 10;
}

.spacer {
    flex: 1;
}

.logos a {
    padding-left: 8px;
    padding-right: 14px;
}

.price-container {
    margin-left: auto;
}

mat-sidenav {
    position: fixed;

    .entry {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.8rem;
    }
}

mat-sidenav-content {
    text-align: center;
    height: 90vh;
}

mat-card {
    border: 1px solid rgb(15, 15, 134);
}

.mat-card-content-quantity {
    color: rgb(51, 51, 176);
    text-align: left;
    font-style: italic;
}

.mat-card-content-price-value {
    font-weight: 400;
}

.title {
    font-weight: 500;
    width: 75%;
    text-align: start;
}

.title-home {
    font-weight: 600;
    font-size: x-large;
}

.extra ol {
    font-style: italic;
}



// media query updates

//done.
@media (min-width: 75em) {
    mat-sidenav {
        padding-top: 4%;
    }

    mat-sidenav-content {
        padding-bottom: 6%;
        padding-top: 2%;
    }

    mat-card {
        margin-bottom: 2%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .logo {
        width: 350px;
    }

    .mat-card-content-quantity {
        font-size: 1.1rem;
    }

    .mat-card-content-price-value {
        font-size: 1.7rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .title-home {
        margin-bottom: 5%;
    }

    .body {
        margin-top: 5%;
        font-size: x-large;
    }

    .extra {
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        font-size: x-large;
    }

    .extra ol {
        margin-right: 8%;
    }
}

//done.
@media (min-width: 60em) and (max-width: 75em) {
    mat-sidenav {
        padding-top: 7%;
    }

    mat-sidenav-content {
        padding-bottom: 10%;
        padding-top: 5%;
    }

    mat-card {
        margin-bottom: 3%;
    }

    .logo {
        width: 300px;
    }

    .mat-card-content-quantity {
        font-size: 1rem;
    }

    .mat-card-content-price-value {
        font-size: 1.3rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .title-home {
        margin-bottom: 5%;
    }

    .body {
        margin-top: 5%;
        font-size: large;
    }

    .extra {
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        font-size: large;
    }

    .extra ol {
        margin-right: 8%;
    }
}

//done.
@media (min-width: 45em) and (max-width: 60em) {
    mat-sidenav {
        padding-top: 7%;
        padding-bottom: 7%;
    }

    mat-sidenav-content {
        padding-bottom: 17%;
        padding-top: 5%;
    }

    mat-card {
        margin-bottom: 3%;
    }

    .logo {
        width: 250px;
    }

    .mat-card-content-quantity {
        font-size: 1rem;
    }

    .mat-card-content-price-value {
        font-size: 1.3rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .title-home {
        margin-bottom: 5%;
    }

    .body {
        margin-top: 5%;
        font-size: medium;
    }

    .extra {
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 8%;
        font-size: medium;
    }

    .extra ol {
        margin-right: 8%;
    }
}


//done.
@media (min-width: 30em) and (max-width: 45em) {
    mat-sidenav {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    mat-sidenav-content {
        padding-bottom: 12%;
        padding-top: 7%;
    }

    mat-card {
        margin-bottom: 3%;
    }

    .logo {
        width: 200px;
    }

    .mat-card-content-quantity {
        font-size: 1rem;
    }

    .mat-card-content-price-value {
        font-size: 1.3rem;
    }

    .title {
        font-size: 1.2rem;
    }

    .title-home {
        margin-bottom: 5%;
    }

    .body {
        margin-top: 10%;
    }

    .extra {
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 8%;
    }

    .extra ol {
        margin-right: 8%;
    }
}

// done
@media (max-width: 30em) {
    mat-sidenav {
        padding-top: 13%;
    }

    mat-sidenav-content {
        padding-bottom: 35%;
        margin-top: 12%;
    }

    mat-card {
        margin-bottom: 3%;
    }

    .logo {
        width: 180px;
    }

    .mat-card-content-quantity {
        font-size: 0.9rem;
    }

    .mat-card-content-price-value {
        font-size: 1rem;
    }

    .title {
        font-size: 1rem;
    }

    .title-home {
        margin-bottom: 3%;
    }

    .body {
        margin-top: 7%;
    }

    .extra {
        margin-top: 5%;
        margin-left: 8%;
        margin-right: 8%;
    }

}