.idea
.husky/_
**/node_modules/
.env
frontend/.vscode
frontend/.angular
**/environments
frontend/dist
database/dist
backend/dist
**/.DS_Store
gh_*.tar.gz
*.tar.gz
*.zip
*.dmg
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
