# Archives
*.dmg
*.tar.gz
*.zip

# Build
**/.angular
.turbo/
dist/

# Drizzle
database/drizzle/meta/*_snapshot.json

# Environment
.env
.env.*
!.env.example
**/environments

# IDE
.idea/
.vscode/

# Logs
*.log

# macOS
.DS_Store

# Testing
coverage/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
node_modules
