<body>
    <div class="container">
        <img src="../../assets/logo.png" alt="Logo de votre brasserie" class="logo">
        <div class="title">Brasserie - Restaurant</div>
        <div class="title">La Fontaine</div>
        <div class="body">
            <p>Ouvert du lundi au jeudi jusqu'à 21h et vendredi toute la journée.</p>
        </div>
        <div class="extra">
            <p>Nous organisons vos repas de fête en famille, entre collègues, anniversaires ou souper de clubs sportifs
                à la carte et selon votre budget. N'hésitez pas à demander différentes formules.</p>
        </div>
    </div>
</body>
<app-footer></app-footer>