<div class="container">
    <img src="../../assets/logo.png" alt="Logo de votre brasserie" class="logo img-fluid">

    <div class="title-home">Brasserie - Restaurant<br><br>
        La Fontaine</div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="home-content">
                <h2>Horaires d'ouverture</h2>
                <b>Du lundi au jeudi</b>: 10h00 - 21h00
                <br><br>
                <b>Vendredi</b>: 10h00 - 00h00
                <br><br>
                <b>Week-end</b>: fermé
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="extra">
                <h2>Services supplémentaires</h2>
                <p>Organisation de repas de fête, soupers de clubs sportifs, etc.
                    <br><br>
                    Options à la carte et adaptées à votre budget.
                    Diverses formules disponibles sur demande.
                </p>
            </div>
        </div>
    </div>
</div>