<div class="container-fluid">
    <img src="../../assets/logo.png" alt="Logo de votre brasserie" class="logo">
    <div class="title-home">Brasserie - Restaurant</div>
    <div class="title-home">La Fontaine</div>
    <div class="body">
        <h2><u>Horaires d'ouverture</u></h2>
        <b>Du lundi au jeudi</b>: 9h00 - 21h00
        <br><br>
        <b>Vendredi</b>: 9h00 - 00h00
    </div>
    <div class="extra">
        <h2><u>Services supplémentaires</u></h2>
        <p>Organisation de repas de fête, souper de clubs sportifs, etc.
            <br><br>
            Options à la carte et adaptées à votre budget.
            Diverses formules disponibles sur demande.
        </p>
    </div>
</div>