// ==========================================================================
// SCSS Compile-time Variables
// ==========================================================================

$base-font-size: 16;

$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1200px,
);

$fluid-min-width: 320;
$fluid-max-width: 1200;
