<footer class="d-flex flex-column flex-md-row">
    <!-- contact -->
    <div class="footer-content">
        <span><i class="fas fa-phone"></i><a href="tel:067490049" class="text-white">0498468070</a></span> -
        <span><i class="fas fa-envelope"></i><a href="mailto:lafontaine.mons@gmail.com"
                class="text-white">lafontaine.mons&#64;gmail.com</a></span>
    </div>

    <!-- adress -->
    <div class="footer-content">
        <span><fa-icon [icon]="faLocationDot"></fa-icon><a href="https://maps.google.com/?q=Place+du+Parc+31,+7000+Mons"
                target="_blank" class="text-white">Place du Parc 31, 7000
                Mons</a></span>
    </div>

</footer>